body{
  background: grey;
}

h1, h2, h3, h4 {
  color: white;
  font-family: "Helvetica Neue", sans-serif;
}

.contain {
  padding: 20px;
  height: 500px;
  width: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
}
